.container-new{
    margin: 100px 0 0 160px;
    width: 2000px;
    height: 500;
    justify-content: center;
    gap: 10px;
}
.container-new img{
    width: 6%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5s;
}
.container-new img:hover {
    width: 8%;
}

@media (max-width: 768px) {
    .container-new {
        margin: 20px auto;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center; /* Centraliza as imagens */
    }

    .container-new img {
        width: 80%;
        height: auto;
        max-width: 200px; /* Define um limite para evitar que fiquem muito grandes */
    }

    .container-new img:hover {
        width: 105%; /* Remove o aumento no hover */
    }
}

@media (max-width: 480px) {
    .container-new {
        gap: 15px;
    }

    .container-new img {
        width: 100%;
        max-width: 200px; 
    }
}
